* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  /* height: 100vh; */
  background-image: url("../images/3428144_60241.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
}

.pro-nav {
  display: flex;
  justify-content: flex-end;
}
.proj-title {
  font-size: 1.7rem;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  margin: 2%;
}

.intro {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 10% 12% 8% 2%;
  margin-right: 10%;
}

.intro p{
  line-height: 200%;
  text-align: justify;
}

.users {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  margin-right: 5%;
  margin-top: 2.5%;
}

.users div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
  padding: 2%;
  width: 50%;
  margin-left: 22%;
  /* border-radius: 20%; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.users div:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.manu {
}
