.man-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.inner-container {
  display: flex;
  padding: 2%;
  height: 90%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.serial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.serial-container p {
  margin-right: 10px;
}

.serial-gen-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5c87e0;
  transition: background-color 0.3s ease;
}

.serial-gen-btn:hover {
  background-color: skyblue;
}

.serial-number {
  margin-bottom: 10px;
}

.prod-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prod-details label,
.prod-details input {
  margin-bottom: 10px;
}

.prod-details input {
  padding: 8px;
  width: 200px;
}

.prod-details input:focus {
  outline: 0;
}

.prod-details .text-box {
  padding: 15px;
}
.prod-details .text-box:focus {
  outline: 0;
}

.prod-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.prod-btns button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5c87e0;
  transition: background-color 0.3s ease;
}

.prod-btns button:hover {
  background-color: skyblue;
}

.inner-container1 {
  margin-right: 350px;
}

.QR-code {
  position: relative;
  right: 100px;
}

.QR-code button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 0, 119, 0.679);
  transition: background-color 0.3s ease;
}

.qr-image {
  margin: 40px;
}
.download-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 0, 119, 0.679);
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: rgba(135, 207, 235, 0.521);
}
